<!doctype html>
<html class="no-js" lang="">
    <%- include('./partials/head.ejs') %>
    <body class="white-background">
        <%- include('./partials/nav.ejs') %>

        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="breadcrumb-content text-center">
                                <h2 class="title">Orchid Springs Booking</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Booking</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- customer-details-area -->
            <section class="customer-details-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="customer-details-content">
                                <div class="icon">
                                    <img src="assets/img/icon/customer_det_icon.jpg" alt="">
                                </div>
                                <div class="content">
                                    <h2 class="title">Please select a space</h2>
                                    <div class="customer-progress-wrap">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                                                aria-valuemax="100"></div>
                                        </div>
                                        <div class="customer-progress-step">
                                            <ul>
                                                <li>
                                                    <span>1</span>
                                                    <p>Space selection</p>
                                                </li>
                                                <li>
                                                    <span>2</span>
                                                    <p>Guest Information</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- customer-details-area-end -->

            <div class="container">
                <div class="alert alert-primary" role="alert" id="alert_date">
                    A simple primary alert—check it out!
                </div>
            </div>

             <!-- booking-area -->
             <section class="booking-details-area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-73">
                            <div class="alert alert-warning text-center" id="loading-alert" style="display: none;">
                                <h4>Please wait while spaces are loading...</h4>
                            </div>
                            <form id="reservationForm">

                                <div class="primary-contact">
                                    <i class="fa-regular fa-user"></i>
                                    <h2 class="title">Office desk selection</h2>
                                </div>
                                
                                <div class="booking-details-wrap">
                                    <div class="row">
                                        <div class="col-8">
                                           
                                        </div>
                                        <div class="col-4">
                                            <div class="service-nav" title="Use arrow to navigate between days"></div>
                                        </div>
                                    </div>
                                    <% 
                                        const outputFormat = 'yyyy-MM-dd';
                                        function formatDate(inputDateString, outputFormat) {
                                            const inputDate = new Date(inputDateString);
                                            if (isNaN(inputDate)) return 'Invalid Date';
                            
                                            const dateValues = {
                                                'yyyy': inputDate.getFullYear(),
                                                'MM': String(inputDate.getMonth() + 1).padStart(2, '0'),
                                                'dd': String(inputDate.getDate()).padStart(2, '0'),
                                            };
                            
                                            const formattedDate = outputFormat.replace(/(yyyy|MM|dd)/g, (match) => dateValues[match] || match);
                            
                                            return formattedDate;
                                        }
                    
                                    %>
                                    
                                    <div class="test-slick">
                                        <% if (dates.length > 0) { %>
                                            <% dates.forEach(function(date, i) { %>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <h5>Day <%= i +1 %> , <%= date %> </h5>
                                                            <input type="hidden" name="workingDays" value="<%= date %>" class="working-day-input">
                                                            <ul class="booking-color-codes">
                                                                <div class="d-flex align-items-center gap-2">
                                                                    <label class="green-box"></label>Available
                                                                </div>
                                                                <div class="d-flex align-items-center gap-2">
                                                                    <label class="ash-box"></label>Selected
                                                                </div>
                                                            </ul>

                                                            <% if (promoCode && promoCode?.type == 'room'){%>
                                                                <div class="selection-container-4"></div>
                                                            <%} else {%>
                                                                <div class="selection-container-4">
                                                                    <% if (deskspaces.length > 0) { %>
                                                                        <% deskspaces.forEach(function(space) { %>
                                                                            <label>
                                                                                <input type="checkbox" class="hide-checkbox"
                                                                                    id="space_<%= space._id %>"
                                                                                    data-space-price="<%= space.price %>"
                                                                                    data-space-id="<%= space._id %>"
                                                                                    name="space_id"
                                                                                    value="<%= space._id %>"
                                                                                    data-current-date="<%= formatDate(date, 'yyyy-MM-dd') %>"
                                                                                    onchange="handleCheckboxChange(this)"
                                                                                >
                                                                                <div class="checkbox-container" style="padding: 15px;" title="<%= space.name %>"><%= space.seat_number %></div>
                                                                            </label>
                                                                        <% }); %>
                                                                    <% } else { %>
                                                                        <p>No data available.</p>
                                                                    <% } %>
                                                             <% } %>
                                                                
                                                                </div>

                                                            <div class="div">
                                                                <% if (promoCode && promoCode?.type == 'space'){%>
                                                                    <div class="selection-container-2 mt-6"></div>
                                                                <%} else {%>
                                                                    <div class="selection-container-2 mt-6">
                                                                        <% if (roomspaces.length > 0) { %>
                                                                            <% roomspaces.forEach(function(space) { %>
                                                                                <label>
                                                                                    <input type="checkbox" class="hide-checkbox"            data-space-price="<%= space.price %>" 
                                                                                    data-space-id="<%= space._id %>" 
                                                                                    id="space_<%= space._id %>" 
                                                                                    name="space_id" 
                                                                                    data-current-date="<%= formatDate(date, 'yyyy-MM-dd') %>" value="<%= space._id %>"
                                                                                    onchange="handleCheckboxChange(this)"
                                                                                    >
                                                                                    <div class="checkbox-container" style="padding: 15px;" title="<%= space.name %>"><%= space.name %></div>
                                                                                </label>
                                                                            <% }); %>
                                                                        <% } else { %>
                                                                            <p>No data available.</p>
                                                                        <% } %>
                                                                    </div>
                                                                <% } %>
                                                            </div>

                                                            
                                                        </div>
                                                        <div class="col-md-5">
                                                            <ul class="booking-color-codes">
                                                                <div class="d-flex align-items-center gap-2">
                                                                    <label class="red-box"></label>Doors
                                                                </div>
                                                                <div class="d-flex align-items-center gap-2"2>
                                                                    <label class="green-box"></label>Windows
                                                                </div>
                                                            </ul>
                                                            <img src="assets/img/images/layout.png" alt="">
                                                        </div>
                                                    </div>
                                                  
                                                </div>
                                            <% }); %>
                                        <%} %>
                                    </div>
                                </div>

                                <button type="submit" id="booking-submit-btn" class="btn pt-3 d-block" style="width: 100%;" onclick="sendSelectedData()">Proceed</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- booking-area-end -->
            

        </main>
        <!-- main-area-end -->
        <%- include('./partials/footer.ejs') %>

        <script>
            
            const queryString = window.location.search;
    
            function parseQueryString(queryString) {
                const params = new URLSearchParams(queryString);
                const queryParameters = {};
                for (const [key, value] of params.entries()) {
                    queryParameters[key] = value;
                }
                return queryParameters;
            }
            const queryParams = parseQueryString(queryString);

            const submitBtn = document.getElementById('booking-submit-btn');
            const selectedData = [];
            function handleCheckboxChange(checkbox) {
                const currentDate = checkbox.getAttribute('data-current-date');
                const spaceId = checkbox.getAttribute('data-space-id');
                const isChecked = checkbox.checked;
                if (isChecked) {
                    selectedData.push({ space_id: spaceId, current_date: currentDate });
                } else {
                    const indexToRemove = selectedData.findIndex(data => data.space_id === spaceId && data.current_date === currentDate);
                    if (indexToRemove !== -1) {
                        selectedData.splice(indexToRemove, 1);
                    }
                }
            }

            const outputFormat = 'yyyy-MM-dd';
            function formatDate(inputDateString, outputFormat) {
                const inputDate = new Date(inputDateString);
                if (isNaN(inputDate)) return 'Invalid Date';

                const dateValues = {
                    'yyyy': inputDate.getFullYear(),
                    'MM': String(inputDate.getMonth() + 1).padStart(2, '0'),
                    'dd': String(inputDate.getDate()).padStart(2, '0'),
                };

                const formattedDate = outputFormat.replace(/(yyyy|MM|dd)/g, (match) => dateValues[match] || match);

                return formattedDate;
            }

            function getWorkingDays() {
                const workingDayInputs = document.querySelectorAll('.working-day-input');
                const workingDays = [];

                workingDayInputs.forEach(input => {
                    workingDays.push(formatDate(input.value, 'yyyy-MM-dd'));
                });

                return workingDays;
            }

            const workingDays = getWorkingDays();

            
            const reservationForm = document.querySelector('#reservationForm');
            reservationForm.addEventListener('submit', async (e) => {
                e.preventDefault()
            })

            function areAllDatesRepresented(mydays, mydata) {
                const uniqueDates = new Set(mydata.map(item => item.current_date));
                return mydays.every(date => uniqueDates.has(date));
            }
        
            const sendSelectedData = async ()=> {
                submitBtn.innerHTML = "Loading please wait...";

                if(areAllDatesRepresented(workingDays,selectedData)) {

                    const pcode = queryParams.pcode || null


                    const options = {
                        url: `https://orchidsprings.cyclic.cloud/api/reservation`,
                        method: 'POST',
                        headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json;charset=UTF-8'
                        },
                        data: {
                            formData: selectedData,
                            promoCode: pcode
                        }
                    };
    
                    axios(options)
                        .then(response => {
                            console.log({res: response.data, data: selectedData })
    
                            const reservation = response.data;
                            const reservationIds =  []
                            reservation.forEach(item => {
                                reservationIds.push(item._id)
                            })
    
                            window.location.href = `/booking-details?id=${JSON.stringify(reservationIds)}`;
    
                            submitBtn.innerText = "Proceed";
                        }).catch(err => {
                            submitBtn.innerText = "Proceed";
                            alert('Please endeavour to pick a space before proceeding')
                        });
                } else {
                    alert(`Please ensure you select a space for the ${workingDays.length} range period`)
                    submitBtn.innerText = "Proceed";
                }
            }
            document.addEventListener("DOMContentLoaded", function(event){
                const queryString = window.location.search;
    
                function parseQueryString(queryString) {
                    const params = new URLSearchParams(queryString);
                    const queryParameters = {};
                    for (const [key, value] of params.entries()) {
                        queryParameters[key] = value;
                    }
                    return queryParameters;
                }
                const queryParams = parseQueryString(queryString);

                const startDate = document.querySelector('#alert_date')
                startDate.innerText = `You are booking for: ${queryParams.start_date} to ${queryParams.end_date} please use the arrows to navigate and select your space(s)`

                const loadingAlert = document.querySelector('#loading-alert');
                const checkboxes = document.querySelectorAll('.hide-checkbox');
                const requests = [];

                loadingAlert.style.display = 'block';

                checkboxes.forEach((checkbox) => {
                const spaceId = checkbox.getAttribute('data-space-id');
                const currentDate = checkbox.getAttribute('data-current-date');
                const requestPromise = axios
                    .post('/api/reservation/check', {
                    space_id: spaceId,
                    current_date: currentDate,
                    })
                    .then((response) => {
                    if (response.data.available) {
                        checkbox.checked = false;
                    } else {
                        checkbox.checked = true;
                        checkbox.disabled = true;
                    }
                    })
                    .catch((error) => {
                    console.error('Error checking availability:', error);
                    });

                requests.push(requestPromise);
                });

                Promise.all(requests)
                .then(() => {
                    loadingAlert.style.display = 'none';
                })
                .catch((error) => {
                    console.error('Error in one or more requests:', error);
                });

            });

            // console.log({ queryParams })
        </script>
    </body>
</html>

